.input-div1 {
  background-color: #f1f1f1;
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.input-div1 img {
  width: 25px;
  position: absolute;
  left: 400px;
  bottom: 10px;
}
.input-div1 input {
  border: none;
  background-color: #f1f1f1;
  width: 320px;
  margin-left: 10px;
  font-size: 17px;
}
.input-div1 input:focus {
  outline: none;
}

.reg-div1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.reg-div1 a {
  text-decoration: none;
  color: #e0620d;
}

.logo-div1 img{
  height: 180px;
  width: 450px;
  margin-top: 10px;
}
.otp-reg{
  position: relative;
}

.set-otpdiv{
  position: absolute;
  bottom: 90%;
  left: 82.5%;
}
.set-otpdiv button{
  background-color: #e0620d;
  color: white;
  width: 80px;
  height: 42px;
  font-weight: 700;
  border-radius: 5px;
}
@media screen and (max-width: 780px) {
   
    .input-div1 img {
        width: 25px;
        position: absolute;
        left: 300px;
        bottom: 10px;
      }
      
.logo-div1 img{
  height: 200px;
  width: 354px;
}

.set-otpdiv{
  position: absolute;
  bottom: 90%;
  left: 77.5%;
}
}