.close-div1 {
  background: #e0620d;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.title-div1 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

.invite-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bonus-div {
}

.total-mmain-div {
  display: flex;
}
.total-mmain-div1 {
  display: flex;
  margin-right: 32.5%;
}
.total-mmain-div-btn {
  background-color: #e9dfdf;
  width: 400px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
}
.total-mmain-div-btn p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.total-mmain-div-btn1 {
  background-color: #5252dc;
  width: 400px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.total-mmain-div-btn1 p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.text-input-mui {
  width: 840px;
}
.form-mui {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.margin-div {
  margin-bottom: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 780px) {
  .title-div1 {
    margin-left: 20px !important;
  }
  .total-mmain-div-btn {
    width: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .total-mmain-div-btn1 {
    width: 170px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .text-input-mui {
    width: 340px;
  }
  .total-mmain-div1 {
    display: flex;
    margin-right: 47%;
  }
}
