.main-mine{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.mine-options{
   display: block;
   background-color: #fff;
   box-shadow: 0 0.053333rem 0.533333rem 0.053333rem #dfdfdf;
   color: white;
   margin-bottom: 10px;
   margin-top: 20px;
   border-radius: 10px;
   
}
.mine-options-go{
    display: block;
    background-color: #fff;
    box-shadow: 0 0.053333rem 0.533333rem 0.053333rem #dfdfdf;
    color: white;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
 }

.mine-menu{
  
    display: flex;
}
.btn-div1{
    background: rgb(137,87,229);
    width: 220px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    padding: 10px;
}

.btn-div1 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.btn-divv{
    background:rgb(137,87,229);
    width: 720px;
    height: 40px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-div p{
    margin-left: 20px;
}

.logout-btnn{
    width: 100px;
    box-shadow: 0 0.053333rem 0.533333rem 0.053333rem #dfdfdf;
    color: black;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 91%;
}

.logout-btnn1{
    width: 100px;
    box-shadow: 0 0.053333rem 0.533333rem 0.053333rem #dfdfdf;
    color: white;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
     background-color: gray;
}
@media screen and (max-width: 780px) {


    .mine-menu{
  
        display: block;
    }

    .mine-options{
        display: flex;
        
        color: white;
        margin-bottom: 20px;
        
     }

     .btn-div1{
        width: 140px;
        height: 40px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        flex-direction: column;
        padding: 10px;
    }

    .btn-divv{
    
        width: 300px;
        height: 40px;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 28px;
        padding: 10px;
        margin: 20px;
    }

    .mine-options-go{
        display: block;
     
        color: white;
        margin-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
     }

     .logout-btnn{
        margin-left: 230px;
     }
}