.close-div5 {
    background: rgb(137,87,229);
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 50px;
  }
  .title-div5 {
    margin: 40%;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  
  @media screen and (max-width: 780px) {
    .title-div5 {
      margin: 22%;
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
  }
  